*.class
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# temporarily editing files, not ready for release
/ignore/

# java cc
/javacc-5.0/

.DS_Store
#.classpath
#.project
NPOTKey
source.txt
